.movie-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    transition: 0.5s;
}

.movie-container:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.movie-poster {
    border-radius: 15px;
}
.movie-data {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 0 0 15px 15px;
}

.movie-data h3 {
    font-size: 20px;
    text-align: center;
}