.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.user-info {
    font-weight: 600;
}

.login-button {
    font-weight: 600;
    background: black;
    color: white;
    padding: 5px;
    height: 35px;
    width: 65px;
    border-radius: 15px;
}