.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #eee;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.logo-button {
    font-weight: 900;
    font-size: 40px;
    color: deeppink;
}