.header {
    background-color: #ffffff;
    display: flex;
    gap: 25px;
    height: 40px;
}
.header-logo {
    width: 400px;
    height: 40px;
}

.search-form {
    display: flex;
    gap: 10px;
}

.search-input {
    width: 400px;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.search-img {
    width: 30px;
    height: 30px;

}

.search-button {
    width: 40px;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: deeppink;
    transition: 0.5s;
}

.search-button:hover {
    background-color: #c7006c;
    transition: 0.5s;
}